<ion-content padding text-center>
   <ion-grid>
      <ion-row>
         <ion-col>
            <ion-icon ios="md-ionic" md="md-ionic" class="icon-logo"></ion-icon>
         </ion-col>
      </ion-row>
      <ion-row>
         <ion-col>
            <h1> Ionic Login </h1>
         </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10%">
         <ion-col>
            <button ion-button icon-start block color="google" (tap)="signInWithGoogle()">
               <ion-icon name="logo-google"></ion-icon> Sign in Google
            </button>
            <button ion-button icon-start block color="facebook" (tap)="signInWithFacebook()">
               <ion-icon name="logo-facebook"></ion-icon> Sign in Facebook
            </button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>