page-login {
   ion-content {
      background: #355C7D;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      .icon-logo {
         font-size: 15em;
         color: white;
         font-weight: bold;
         margin-top: 30%;
      }
      h1 {
         color: white;
         font-weight: bold;
      }
   }
}