<ion-header>
  <ion-navbar>
    <ion-title>
      ¡Bienvenido!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item text-center>
      <img [src]="user.photo" alt="">
    </ion-item>
    <ion-item text-center>
      <h1>{{user.name }}</h1>
    </ion-item>
    <ion-item text-center>
      <h2>{{user.email }} </h2>
    </ion-item>
    <ion-item text-center>
      <small>{{user.uid }}</small>
    </ion-item>
    <ion-item text-center>
      <small> {{user.provider }}</small>
    </ion-item>

  </ion-list>

  <ion-row justify-content-center>
    <button ion-button icon-start block (tap)="logout()">
      <ion-icon ios="md-exit" md="md-exit"></ion-icon>
      Salir
    </button>
  </ion-row>

</ion-content>